.main{
    width:100%;
    height: 84vh;
}
.full-width {
    width: 100%;
  }
.message {
    margin:10px;
    align-content: left;
    text-align: left;
}
.chat-scrollable {
    height: 60vh;
    overflow-y: scroll;
}
.textinput {
    margin-left: 13vw;
    height: 8vh;
}
.conversation_label {
    height: 8vh;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.drawerButton{
    position: absolute;
    left: 2vw;
    top: 75vh;
    z-index: 1;
}