<mat-toolbar color="{{(this.authService.userSignedIn$ | async) ? primary : null}}" class="height toolbar-button">
    <div *ngIf="(this.authService.userSignedIn$ | async)"><!--If logged in-->
      <mat-toolbar-row *ngIf=!isMobile()>
        <span>
          <button mat-stroked-button color="basic" (click)="this.router.navigate(['/'])">Home</button>
          <button mat-stroked-button color="basic" (click)="this.router.navigate(['/chatroom'])">Chat rooms</button>
        </span>
        <!-- This fills the remaining space of the current row -->
        <span class="spacer"></span>
        <span>
            <button mat-stroked-button color="basic" (click)="this.router.navigate(['/profile'])">{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.name ? this.angular2TokenService.currentUserData.name : "Profile"}}</button>
            <button mat-stroked-button color="basic" (click)="logOut()">Log Out</button>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf=isMobile()>
        <div class=left>
          
        </div>
        <div class=middle>
            <button mat-stroked-button color="basic" (click)="this.router.navigate(['/profile'])">{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.name ? this.angular2TokenService.currentUserData.name : "Profile"}}</button>
        </div>
        <div class=right>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #menu>
            <button mat-menu-item (click)="this.router.navigate(['/'])">
              <mat-icon>home</mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item (click)="this.router.navigate(['/profile'])">
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </button>
            <button mat-menu-item (click)="this.router.navigate(['/chatroom'])">
              <mat-icon>chat_bubble_outline</mat-icon>
              <span>Chat rooms</span>
            </button>
            <button mat-menu-item (click)="logOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Log Out</span>
            </button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </div>
    <mat-toolbar-row *ngIf="!(this.authService.userSignedIn$ | async)"><!--If not logged in-->
      <!-- This fills the remaining space of the current row -->
      <span class="spacer"></span>
      <span>
          <button mat-flat-button color="primary" (click)='openAuthDialog("login")'>Log in</button>
          <button mat-flat-button color="primary" (click)='openAuthDialog("register")'>Register</button>
      </span>
    </mat-toolbar-row>
</mat-toolbar>