<mat-toolbar>
  <mat-toolbar-row>
    <span class="spacer"></span>
    <div class="toolbar-button">
        <span *ngIf="!(this.authService.userSignedIn$ | async)"><!--If not logged in-->
          <button mat-flat-button color="primary" (click)='openAuthDialog("login")'>Log in</button>
          <button mat-flat-button color="primary" (click)='openAuthDialog("register")'>Register</button>
        </span>
        <span *ngIf="(this.authService.userSignedIn$ | async)"><!--If logged in-->
          <button mat-stroked-button color="primary">{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.name ? this.angular2TokenService.currentUserData.name : "Profile"}}</button>
          <button mat-flat-button color="primary" (click)="logOut()">Log Out</button>
        </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>