<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-toolbar></app-toolbar>
  <div class="button-row">
    <button mat-flat-button color="primary" (click)='success_login()'>Log in with success</button>
    <button mat-flat-button color="warn" (click)='failure_login()'>Log in with failure</button>
  </div>
  <div>
    <button mat-flat-button color="primary" (click)='test_dialog()'>Test the dialog</button>
  </div>
<router-outlet></router-outlet>