.left{
    float:left;
    width:35%;
}
.right{
    float: right;
    width:65%;
}
.main{
    width:100%;
}
.full-width {
    width: 100%;
  }
.message {
    margin:10px;
    align-content: left;
    text-align: left;
}