<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Edit your profile information
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="userdata.name">
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>
            <input matInput placeholder="Nickname" [(ngModel)]="userdata.nickname">
          </mat-form-field>
      </div>
      <div>
        <button mat-button mat-stroked-button color="primary">Done</button>
      </div>
      <div>
          <mat-form-field>
              <input matInput placeholder="Password" type="password" [(ngModel)]="updatePasswordData.passwordCurrent" >
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>
              <input matInput placeholder="New Password" type="password" [(ngModel)]="updatePasswordData.password" >
          </mat-form-field>
      </div>
      <div>
          <mat-form-field>
              <input matInput placeholder="New Password again" type="password" [(ngModel)]="updatePasswordData.passwordConfirmation" >
          </mat-form-field>
      </div>
      <div *ngIf="updatePasswordData.password == updatePasswordData.passwordConfirmation">
        <button mat-button mat-stroked-button color="primary" (click)=changePassword()>Change password</button>
      </div>
      <div *ngIf="updatePasswordData.password != updatePasswordData.passwordConfirmation"
        style="color:red">
        Passwords must match
      </div>
    </mat-expansion-panel>
    <mat-list role="list">
        <mat-list-item role="listitem">Email:<span class="spacer"></span><b>{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.email ? this.angular2TokenService.currentUserData.email : ""}}</b></mat-list-item>
        <mat-list-item role="listitem">Name:<span class="spacer"></span><b>{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.name ? this.angular2TokenService.currentUserData.name : "Name not set yet"}}</b></mat-list-item>
        <mat-list-item role="listitem">NickName:<span class="spacer"></span><b>{{this.angular2TokenService.currentUserData&&this.angular2TokenService.currentUserData.nickname ? this.angular2TokenService.currentUserData.nickname : "NickName not set yet"}}</b></mat-list-item>
    </mat-list>
  </mat-accordion>
  